<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Similar</title>
    <style>
      .highlight {
              background-color: yellow;
      }
    </style>
</head>


<body class="mx-5 my-5">
    <div class="text-center">
        <h1>Pencarian-2 : Pencarian Artikel Tambahan!</h1>
        <h3>dengan Kelas {{kelas}} (Skenario-{{skenario}})</h3>
        <!-- <h1>Similar By Skenario {{skenario}} !</h1> -->
        <h6>{{waktu}}</h6>
        <!-- <h6>{{ waktu1 }} || {{ waktu2 }} || {{ waktu3 }}</h6> -->
    </div>
    <div class="container my-4 post-wrapper">
        <div class="text-right">
          <button type="button" class="btn btn-primary" onclick="history.back()">Previous Page</button>
        </div>

        <div class="card my-3">
          <div class="card-header">
              <ul class="nav nav-pills card-header-pills">
                  <li class="nav-item">
                      <a class="nav-link disabled"><b>Informasi Artikel Hasil Pencarian-1</b></a>
                  </li>
          </div>
          <div class="card-body">
              <h5 class="card-title">Article {{article_search.sim_idpub_from}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{article_search.sim_article_from}}</h6>
              <p class="card-text-inline">{{article_search.sim_art_str_from | safe}}</p>
              <div class="my-2"><a class="card-text-inline" href="{% url 'topic_view'%}"><b>Topik:</b>{{article_search.topic_name}} || <b>Subtopik:</b>{{article_search.subtopic_name}}</a></div>
              <p class="card-text-inline">{{article_search.sim_researcher_from_name}}</p>
              <p class="card-text-inline"></p>
          </div>
        </div>

        <h2 class="my-3">Hasil Rekomendasi Berdasarkan Skenario {{skenario}}</h2><br>
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Id Publikasi</th>
                <th scope="col" class="text-center">Judul</th>
                <th scope="col" class="text-center">Praproses Judul</th>
                <th scope="col" class="text-center">Author</th>
                <th scope="col" class="text-center">Topik</th>
                <th scope="col" class="text-center">Subtopik</th>
                <th scope="col" class="text-center">Skor Kemiripan</th>
              </tr>
            </thead>
            <tbody class="table-body">
              {% for article in DataFrame.itertuples %}
              <tr class='post-box'>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ article.id_pub }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.title_list | safe}}</td>
                <td>{{ article.researcher_name }}</td>
                <td>{{ article.topic_name }}</td>
                <td>{{ article.subtopic_name }}</td>
                <td class="text-right">{{ article.sim_score }}</td>
              </tr>
              {% endfor %}
            </tbody>
            
        </table>
    </div>
    <div>
        <!-- {{df|safe}} -->
    </div>
</body>
</html>